<app-header></app-header>
<div class="container">
  <div class="row text-center">
    <div class="col-md-3 col-sm-6" *ngFor="let pet of pets">
      <div>
       <a [routerLink]="['/pets', pet._id]" routerLinkActive="router-link-active" > <img [src]="pet.image" style="width: 100%; max-height: 300px; border-radius: 5px 5px 5px  5px;"></a>
        <div>
          <h4 style="margin-top: 10px">{{pet.name}}</h4>
          <p>Status: <span [ngStyle]="{color: pet.status === 'Alive' ? 'green' : 'red'}">{{pet.status}}</span></p>
        </div>
      </div>
    </div>

  </div>
</div>
