<div class="container">
  <br>
  <div class="row">
    <div class="col-lg-4 mx-auto">
      <h1 class="text-center">Register a pet</h1>
      <br>
      <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="form-group">
          <input type="text" class="form-control" name="name" placeholder="Name" required ngModel>
        </div>

        <div class="form-group">
          <textarea name="description" rows="4" class="form-control" placeholder="Description" required ngModel>
          </textarea>
        </div>

        <div class="form-group">
            <textarea name="funfact" rows="2" class="form-control" placeholder="Fun Fact" required ngModel>
            </textarea>
        </div>

        <div class="form-group">
          <select name="status" id="status" class="form-control" ngModel="status" #status="ngModel">
            <option value="status">Status</option>
            <option value="alive">Alive</option>
            <option value="dead">Dead</option>
            <option value="missing">Missing</option>
          </select>
        </div>

        <div class="form-group">
          <label for="birth">Birth</label>
          <input type="date" class="form-control" name="birth" id="birth" required ngModel>
        </div>

        <div class="form-group" *ngIf="status.value === 'dead'">
          <label for="death">Death</label>
          <input type="date" class="form-control" name="death" id="death" ngModel>
        </div>

        <div class="form-group">
          <input type="file" id="image" style="display: none" name="image" required ngModel (change)="onFileChange($event)">
          <label for="image" class="btn btn-block" style="cursor: pointer; background-color: blanchedalmond; color: gray">Image</label>
        </div>

        <button class="btn btn-outline-primary btn-block" [disabled]="form.invalid" data-toggle="modal" data-target="#exampleModal">Submit</button>
      </form>
    </div>
  </div>
  <br>
  <br>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nice, Gamer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        The pet was added and will be verified. Meanwhile, why don't you have a look at other pets?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok Bro</button>
      </div>
    </div>
  </div>
</div>

