<div class="container">
  <br>
  <header class="jumbotron text-center" style="color:gray; background-color: blanchedalmond">
    <h1><img src="../../favicon.ico" style="width: 80px"> <span> PEWDIEPETS</span></h1>
      <p>PewDiePie Minecraft pets (alive or <i><b>murdered</b></i> ) </p>
      <input type="text" class="form-control" #search (keyup)="onKeyUp(search.value)" placeholder="Search a pet..." style="width: 300px; margin-right: auto; margin-left: auto">
      <!-- <button class="btn btn-primary">And hope it's alive</button> -->
  </header>
</div>
